/* * {
  outline: dotted 1px blue;
} */

body, header, footer {
  width: 960px;
}

header {
  height: 60px;
  margin-top: 20px;
}

header > img:first-child {
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;
}

header > ul {
  float: left;
}

header > ul > li > a:first-child {
  font-size: 30px;
  font-family: cursive;
}

header > ul > li > a:nth-child(2) {
  font-size: 17px;
  opacity: 0.5;
}

header > div {
  float: right;
  margin-top: 10px;
 }

header > article {
  background-color: black;
}

.main-hr {
  border: 5px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

body > img {
  margin-top: 20px;
  width: 960px;
}

body > section > ul > li > p {
  margin: 15px;
  text-indent: 3em;
}

body > div > img {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 960px;
}

.container {
  position: relative;
}

.list1 {
  position: absolute;
  top: 55px;
  left: 35px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.list2 {
  position: absolute;
  top: 58px;
  right: 2px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

footer > img:first-of-type {
  float:left;
  margin: 10px;
}

footer > ul > li:first-child{
  float: left;
}

h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  float: right;
}

.LastLine {
  border: 1px solid gray;
  margin-top: 100px;
}

.lastContainer {
  position: relative;
  margin-bottom: 80px;
}

.smallLogo {
  position: absolute;
  left: 50%;
  bottom: -18px;
}

footer > a {
  outline: dotted 1px blue;
  text-align: center;
}